.App{
  background-image: linear-gradient(#0575e6,#00f260);
  display: grid;
  place-items: center;
  height: 100vh;
}
.app__body{
  display: flex;
  margin-top: -20px;
  height: 90vh;
  width: 90vw;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.6);
}

.app__header{
  color: rgb(240, 14, 14);
  font-weight: bold;
  font-size: 30px;
  font-family: cursive;
  padding: 6px;
}

.app__nameandLogo{
  display: flex;
  padding: 0px;
}
