.App{
  background-image: linear-gradient(rgb(54, 151, 241),#f10d0d);
  display: grid;
  place-items: center;
  height: 110vh;
}
.app__body{
  display: flex;
  height: 90vh;
  width: 55%;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.6);
}

.app__header{
  color: rgb(236, 8, 57);
  font-weight: bold;
  font-size: 30px;
  font-family: velvetica;
  padding: 3px;
  justify-content: center;
}
