.chat{
    flex: 0.75;
    background-image: linear-gradient(#1FA2FF,#12D8FA,#A6FFCB);
}

.chat__header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.chat__headerInfo{
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p{
    color: rgb(24, 22, 22);
}